		<div class="modal hide fade" id="saveModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>提示信息</h3>
			</div>
			<div class="modal-body">
				<p>保存成功！</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-success" id="goonAdd">继续添加</a>
				<a href="#" class="btn btn-primary" id="seeResult">查看添加</a>
			</div>
		</div>
		<footer>
			<p class="pull-left">&copy; <a href="http://usman.it" target="_blank">Muhammad Usman</a> 2012</p>
			<p class="pull-right">Powered by: <a href="http://usman.it/free-responsive-admin-template">Charisma</a></p>
		</footer>


<div class="modal hide fade" id="xModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 id="xModalTitle">提示</h3>
	</div>
	<div class="modal-body">
		<p id="msg"></p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div> 
<div class="modal hide fade" id="xModalRefresh">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3 id="xModalTitle">提示</h3>
	</div>
	<div class="modal-body">
		<p id="refresh-msg"></p>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" onclick="javascript:window.location.reload()" data-dismiss="modal">确定</a>
	</div>
</div>